# Swedbank
SWEDBANK_CLIENT_ID=
SWEDBANK_CLIENT_SECRET=
SWEDBANK_CERT_PATH=
SWEDBANK_KEY_PATH=

# SEB
SEB_CLIENT_ID=
SEB_CLIENT_SECRET=
SEB_CERT_PATH=
SEB_KEY_PATH=

# Local database
DATABASE_PATH=./data/rpa.sqlite3
